<form action="/answer">
  <div class="form-group">
    <label for="string_input">Input a sentence</label>
    <input id="string_input" name="string_input" class="form-control" type="text">
    <label for="search_word">What word do you want to count in that sentence?</label>
    <input id="search_word" name="search_word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Count the words!</button>
</form>
